<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta name="description" content="Enter your destination and departure date and receive a weather forecast of your trip!">
    <meta name="author" content="Liam McIntosh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Travel Planner</h1>
      <p>Enter a country to start planing your trip!</p>
    </header>
    <main>

      <div class="sub-heading">
        <div class="trip-form">
          <div class="country-selector">
            <input type="text" placeholder="Search.." class="country-selector-input">
            <div class="country-selector-content"></div>
          </div>
          <button>Add Trip</button>
        </div>
        <button class="save-button">Save</button>
      </div>

      <div class ="trip-container">

      </div>
    </main>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            },function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            });
        });
      }
     </script>
  </body>
</html>