body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
  "hd"
  "mn";
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: hd;
  padding: 5px;

  >h1{
    margin: 0px;
    margin-bottom: 5px;
  }
  >p{
    margin: 0px;
  }
}

main{
  display: flex;
  flex-direction: column;
  grid-area: mn;
}

.sub-heading{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.trip-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  border: solid 1px grey;
  border-radius: 2px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: space-evenly;
  align-items: center;
}