.packingList{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "packing-header"
  "packing-content";
}

.packing-header{
  grid-area: packing-header;
  margin:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  h3{
    padding: 0px;
    margin: 0px
  }
  button{
    margin: 0px;
  }
  div{
    width: 100%;
  }
}

.packing-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px 5px 5px;
}

.packing-content{
  grid-area: packing-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 700px) and (min-width: 400px)  {
  .packing-header{
    flex-direction: column;

    div{
      margin-top: 5px;
      display: flex;
      flex-direction: row;
    }
  }
}

@media only screen and (max-width: 400px) {
  .packing-header{
    flex-direction: column;
    div{
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}