.todoList{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "todo-header"
  "todo-content";
}

.todo-header{
  grid-area: todo-header;
  margin:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  h3{
    width: auto;
    padding: 0px;
    margin: 0px
  }
  button{
    margin: 0px;
  }
  div{
    width: 100%;
  }
}

.todo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-content{
  grid-area: todo-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 700px) and (min-width: 400px)  {
  .todo-header{
    flex-direction: column;

    div{
      margin-top: 5px;
      display: flex;
      flex-direction: row;
    }
  }
}

@media only screen and (max-width: 400px) {
  .todo-header{
    flex-direction: column;
    div{
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}