.trip-form{
  align-self: center;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button{
    height: 47px;
    margin: 5px 2.5px 5px 2.5px;
  }

  .country-selector{
    margin: 5px 2.5px 5px 2.5px;
  }
}
