.trip-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button{
    height: 47px;
    margin: 5px 2.5px 5px 2.5px;
  }

  .country-selector{
    margin: 5px 2.5px 5px 2.5px;
  }
}

.form-dates{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input{
    padding: 14px 20px 12px 0px;
    font-size: 16px;
    height: 47px;
    margin: 5px 2.5px 5px 2.5px;
  }
}
